html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    background-size: cover;
    background-position: center;
}